index.php
license.txt
readme.html
wp-blog-header.php
wp-comments-post.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-mail.php
wp-settings.php
wp-trackback.php
xmlrpc.php
*wp-admin
*wp-includes
*wp-content/plugins
*wp-content/uploads
*wp-content/themes/twentytwentyfour
*wp-content/themes/twentytwentythree
*wp-content/themes/twentytwentytwo
